body{
    margin: 0px;
    padding: 0px;
}
.main{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.left{
    margin: 0px;
    padding: 0px;
    background-color: #0E6BBD;
    height: 900px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.info{
    margin: 0px;
    padding: 0px;
    width: 500px;
    font-weight: bold;
    line-height: 70px;
    text-justify: auto;
}
.right{
    margin: 0px;
    padding: 0px;
    height: 900px;
    width: 50%;
}
.register{
    
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    height: 23px;
    margin-right: 20px;
}
.connect{
    border-radius: 10px;
    background: white;
    color: #0E6BBD;
    size: 20px;
    border: #0E6BBD solid 2px;
}
.signup{
    margin: 0px;
    padding: 0px;
    height: 777px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer{
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 10px;
}